<div class="container">
    <div class="row">
        <div class="col-6">
            <form class="row g-3" method="post" action="/money/request-money">
                <div class="col-md-6">
                  <label for="inputEmail4" class="form-label">Request Sender</label>
                  <input type="email"  value="<%=locals.user.email%>" class="form-control" name="sender" id="inputEmail4" readonly>
                </div>
                <div class="col-md-6">
                    <label for="inputState" class="form-label">Money Request</label>
                    <select id="inputState" class="form-select" name="requester">
                        <% for (let user of users){%>
                          <option value="<%=user._id%>"><%=user.email%></option>
                        <% } %>
                    </select>
                </div>
                <div class="col-6">
                  <label for="inputAddress" class="form-label">Message</label>
                  <input type="text" class="form-control" id="inputAddress" name="message" maxlength="20" placeholder="" required>
                </div>
                <div class="col-6">
                  <label for="inputAddress2" class="form-label">Amount</label>
                  <input type="number" name="amount" class="form-control" id="inputAddress2" min="1"  placeholder=" minimun 10" required>
                </div>
                <div class="col-12">
                  <button type="submit" class="btn btn-primary">Send Request</button>
                </div>
              </form>
        </div>
        
    </div>
</div>