<div class="container">
    <!-- row 1 -->
    <div class="row">
        <div class="col-6">
            <div class="user-container">
                <div>Email : <%=locals.user.email%>
                </div>
                <div>Primium User : <%=locals.user.isPrimiumUser%>
                </div>
                <div>Balance : <%=locals.user.balance%>
                </div>
            </div>
        </div>
        <div class="col-6">

        </div>
    </div>

    <!-- row 2 -->
    <div class="row">
        <div class="col-6">
            <div class="payment-container">
                <a href="/money/sendmoney" class="btn btn-primary">Send Money</a>
            </div>
        </div>
        <div class="col-6">
            <div class="payment-container">
                <a href="/money/requestMoney" class="btn btn-primary">Request Money</a>
            </div>
        </div>
    </div>

    <!-- row 3 -->
    <div class="row">
        <div class="col-6">
            <div class="payment-container">
                <a href="/user/view-transaction" class="btn btn-primary">View Transaction</a>
            </div>
        </div>
        <div class="col-6">

        </div>
    </div>
</div>