<link rel="stylesheet" href="/css/HomePage.css">
<div class="container">
    <div class="row">
        <!-- admin container -->
        <div class="col-6">
            <div class="admin-container">
                <center>
                    <h2>Admin</h2>
                    <img src="https://cdn-icons-png.flaticon.com/256/3281/3281355.png" alt="admin">
                </center><br>
                <div class="d-grid gap-2">
                    <% if(locals.user){%>
                    <%}else{%>
                        <a href="/admin/signin" style="color:white" class="btn rounded-pill btn-dark btn-outline-warning">Signin</a>
                        <a href="/admin/signup" style="color:white" class="btn rounded-pill btn-dark btn-outline-warning">SignUp</a>        
                    <%}%>
                </div>
            </div>
        </div>
        <!-- user container -->
        <div class="col-6">
            <div class="user-container">
                <div class="user-container">
                    <center>
                        <h2>User</h2>
                        <img src="https://cdn-icons-png.flaticon.com/256/1165/1165725.png" alt="user">
                    </center><br>
                    <div class="d-grid gap-2">
                        <% if(locals.user){%>
                        <%}else{%>        
                            <a href="/user/signin" style="color:white" class="btn rounded-pill btn-dark btn-outline-warning">Signin</a>
                            <a href="/user/signup" style="color:white" class="btn rounded-pill btn-dark btn-outline-warning">SignUp</a>
                        <%}%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>