<!-- <link rel="stylesheet" href="/css/homepage.css"> -->

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-6" style="border: 1px solid rgb(254, 99, 99);">
            <div class="admin-container">
                <h2 class="heading">Admin</h2>
                <center><img src="https://cdn-icons-png.flaticon.com/256/2830/2830284.png" alt=""></center>
                <br>
                <div class="d-grid gap-2">
                    <a href="/employee/signinpage" class="btn btn-danger">Sigin</a>
                    <a href="/employee/signuppage" class="btn btn-danger">Create Employee</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6" style="border: 1px solid rgb(78, 104, 237);">
            <div class="user-container">
                <h2 class="heading">User</h2>
                <center><img src="https://cdn-icons-png.flaticon.com/256/2830/2830284.png" alt=""></center>
                <br>
                <div class="d-grid gap-2">
                    <a href="/employee/signinpage" class="btn btn-primary">Sigin</a>
                    <a href="/employee/signuppage" class="btn btn-primary">Create Employee</a>
                </div>
            </div>
        </div>
    </div>
</div>